<!DOCTYPE html>
<html>
    <head>
        <title>Event Itinerary</title>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Assignment 3 Website">
    
        <!-- Importing CSS Stylesheet -->
        <link rel="stylesheet" href="css/normalize.css" defer>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" defer>
        <link rel="stylesheet" href="css/index.css" defer>
    
        <!-- Importing JS Script -->
        <script src="js/alerts.js" defer></script>
      </head>
    <body>
        <div id="app" class="text-center"></div>
        <script type="module" src="index.js"></script>
    </body>
</html>
